ul {
  margin: 0;
  padding: 0;
}

@CONTAINER_WIDTH: 70%;
@TAG_LIST_MARGIN: -10%;

@keyframes button-animation {
  from {
    transition: all;
    transition-duration: 2000ms;
    transform: scale(1.1);
    background-color: red;
    border-radius: 10px;
  }

  to {
    transition-duration: 2000ms;
    transform: scale(1);
    border-radius: 10px;
  }
}

.page-info-component {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .page-container {
    width: @CONTAINER_WIDTH;
    height: @CONTAINER_WIDTH/1.5;
    background-color: #ffff99;
    display: flex;
    flex-direction: row;

    .tag-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: transparent;
      text-align: center;

      &-unopen {
        width: 0;
        overflow: hidden;
      }

      &-open {
        transition: all;
        // transition-duration: 1000ms;
        width: 10%;
        max-height: 20%;
        background-color: transparent;
        z-index: 1;
      }

      .tag-item {
        margin-bottom: 20px;
      }
    }

    .page-unopen-info {
      display: flex;
      flex-direction: row;
    }

    .page-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 30%;

      &-wrapper {
        width: 60%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .open-wrapper {
        transition: all;
        // transition-duration: 1000ms;
        // transform: translateX((-@TAG_LIST_MARGIN)-(95%)) rotateY(180deg);
        transform: translateX(-100%) rotateY(180deg);
      }

      .open-wrapper-button {
        transition: all;
        // transition-duration: 1000ms;
        transform: rotateZ(90deg);
      }

      .unopen-wrapper-button {
        img {
          animation-name: button-animation;
          animation-duration: 1s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          animation-direction: alternate;
        }
      }

      &-button {
        width: 40%;
        margin-left: -20%;

        &:hover {
          cursor: pointer;
        }

        img {
          width: 100%;
        }
      }
    }

    .page-cataglory {
      width: 70%;
      margin-left: -10%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: STLiti, Verdana, Geneva, Tahoma, sans-serif;

      &-title {
        font-size: 3rem;
        font-weight: 700;
        line-height: 2em;
        letter-spacing: 16px;
        margin-bottom: 10px;
      }

      &-items {
        font-size: 1.8em;

        font-weight: 500;
        text-align: left;
      }

    }
  }
}