.cataglory-list {
  width: 100%;
  height: 100%;

  .cataglory-container {
    width: 100%;
    height: 100%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;

    .person {
      &-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 90%;
      }

      &-info {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        text-indent: 5%;
        padding-left: 2%;

        &-field {
          flex: none;
          margin-bottom: 10%;
        }

        &-descri {
          overflow: hidden;
          position: relative;

          .descri-title {
            position: static;
            top: 0;
            left: 0;
            width: 100%;
            height: 20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }

          .descri-info {
            margin-right: -1.2rem;
            padding-right: 1.4rem;
            padding-left: 5%;
            max-height: 80%;
            word-break: break-all;
            line-break: auto;
            overflow-y: auto;
          }
        }

        &-title {
          font-size: 1.7em;
        }

        &-value {
          font-size: 1.2em;
          padding-left: 5%;
          // overflow: hidden;
          overflow-y: auto;

        }
      }

      &-pic {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-img {
          width: 70%;
          height: 70%;
          margin-bottom: 5%;
          // background-image: url('../../assets/images/pages/person_bg.png');
          // background-size: 100% 100%;
          // overflow: hidden;

          img {
            max-width: 80%;
            min-height: 100%;
            border-radius: 60% 60% 60% 60%;
          }

        }

        &-name {
          font-weight: 500;
          font-size: 2.5em;
          line-height: 1.5em;
        }

      }
    }

    .item-selector {
      &-list {
        flex: 1;
        width: 100%;
        // height: 20%;
        flex-wrap: nowrap;
      }

      &-item {
        flex: 1;
        width: 7%;
        max-width: 10%;
        margin: 1.2rem;

        &:hover {
          cursor: pointer;
          transition: all;
          transition-duration: 600ms;
          transform: scale(1.1);
        }
      }
    }
  }


}