.cataglory-list {
  width: 100%;
  height: 100%;

  .cataglory-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .person {
      &-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
      }

      &-info {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-indent: 5%;
        padding-left: 2%;

        &-field {
          flex: none;
          margin-bottom: 10%;
        }

        &-descri {
          overflow-y: auto;
          position: relative;
        }

        &-title {
          font-size: 1.7em;
          position: static;
        }

        &-value {
          padding-left: 10%;
          
        }
      }

      &-pic {
        height: 100%;

        &-img {
          width: 70%;
          height: 70%;
          margin-bottom: 5%;
          // background-image: url('../../assets/images/pages/person_bg.png');
          // background-size: 100% 100%;
          // overflow: hidden;

          img {
            max-width: 80%;
            min-height: 100%;
            border-radius: 60% 60% 60% 60%;
          }

        }

        &-name {
          font-weight: 500;
          font-size: 2.5em;
          line-height: 1.5em;
        }

      }
    }

    .item-selector {
      &-list {
        width: 100%;
        height: 20%;
        flex-wrap: nowrap;
      }

      &-item {
        flex: 1;
        width: 7%;
        max-width: 10%;
        margin: 15px;

        &:hover {
          cursor: pointer;
          transition: all;
          transition-duration: 600ms;
          transform: scale(1.1);
        }
      }
    }
  }


}