html,
body,
#root,
.page {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

.page {
  overflow-x: hidden;
}

@media screen and (max-width:1000px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width:700px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width:500px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width:400px) {
  html {
    font-size: 5px;
  }
}